@CHARSET "UTF-8";

body {
	background-color: #f4fb7b;
	font-family: Helvetica, sans-serif;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: yellow;
}

#header-image {
	width: 10%;
}

li {
	list-style: none;
}

#nav-bar {
	flex-direction: row;
}

.nav-link {
	margin: 20px;
}

a {
	text-decoration: none;
	color: #000000;
}

#gettingStarted {
	background-color: yellow;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	align-items : center;
	text-align: center;
	margin-top: 10px;
	align-items: center;
}

.wrapper{
	display:flex;
}

.wrapper input[type="email"]{
	flex: 1 1 160px;
}


input[type="email"] {
	max-width: 275px;
	width: 100%;
	padding: 5px;
}

input[type="submit"] {
	width: 30%;
	border: 0;
	font-size:10px;
	background-color: #f1c40f;
}