@CHARSET "UTF-8";

body {
	background-color: #f4fb7b;
	font-family: Helvetica, sans-serif;
}

#header {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	background-color: yellow;
}

#header-image {
	width: 10%;
}

li {
	list-style: none;
}

#nav-bar {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap
}

.nav-link {
	margin: 20px;
}

a {
	text-decoration: none;
	color: #000000;
}

#gettingStarted {
	background-color: yellow;
	display: flex;
	flex-direction:column;
	justify-content: center;
	flex-wrap:wrap;
	align-items:center;
	text-align: center;
	margin-top: 10px;
	
}



input[type="email"] {
	max-width: ;
	width: 100%;
	padding: 5px;
}

input[type="submit"] {
	width: 150px;
	border: 0;
	margin-top:10px;
	padding: 5px;
	font-size:20px;
	background-color: #f1c40f;
	
	
}

.container-items{
	margin-left:40px;
	margin-right:40px;
	display:flex;
	flex-direction: column;
	font-family: Verdana;
	text-align:justify;
	margin-top:10px;
	background-color:yellow;
}

iframe {
	max-width: 560px;
	width:100%;
}
